<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataSerOpt" value="DataBaseSer"/>
    <add key="DefaultConnection" value="Data Source=(LocalDB)\MSSQLLocalDB;Integrated Security=True;AttachDbFilename=D:\UnityProjects\TPA_Project\Database\Database.mdf; Connect Timeout = 30"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>